In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# matplotlib 한글 꺠짐 방지
# apt-get update
# apt-get install fonts-nanum* 
# apt-get install fontconfig
# fc-cache -fv  # font 캐시 날리기
# rm -rf /home/hy1/.cache/matplotlib/  #matplotliob 폰트 캐시 날리기

In [3]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [4]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

In [5]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='NanumGothic')

## Load - DataWareHouse

## JDBC DICT

In [6]:
JDBC = {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA'
    ,'props':{
        'user':'dw_de'
       ,'password':'123qwe!@#QWE'
    }   
}

### 1. LOC 테이블 저장

In [ ]:
area = spark.read.csv('/corona_data/loc/sido_area.csv', encoding='CP949', header=True)
popu = spark.read.csv('/corona_data/loc/sido_population.csv', encoding='CP949', header=True)

In [13]:

# loc 데이터 저장
area_pop = area.join(popu, on='loc')
area_pop = area_pop.select(col('loc').alias('LOC')
                                   , col('area').alias('AREA')
                                   ,col('total').alias('POPULATION')
                          )
# area_pop.show()
area_pop.write.jdbc(url=JDBC['url'], table='LOC', mode='append', properties=JDBC['props'])

Py4JJavaError: An error occurred while calling o104.jdbc.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:298)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:107)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:107)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:218)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:222)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:46)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:115)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

### 2. CORONA_PATIENT 테이블 저장

In [7]:
# 코로나 감염자 데이터
path = '/corona_data/patient'
co_patient_json = spark.read.json(path,encoding='UTF-8')
co_patient_json.show()

+----------------------+---------+------+----------+--------------+----------+
|                 items|numOfRows|pageNo|resultCode|     resultMsg|totalCount|
+----------------------+---------+------+----------+--------------+----------+
|[{16, 12659, 검역, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1465, 1461477, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{16, 12440, 검역, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1043, 868166, 충...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1429, 1214957, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{528, 687990, 전남...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{26161, 22449475...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{25441, 20983169...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1376, 847452, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{520, 666170, 전남...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{5077, 4264423, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1375, 842746, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{2268, 1266446, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1475, 996824, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{2249, 1204102, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{781, 679100, 충북...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{883, 571175, 강원...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1427, 1196686, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1492, 940948, 경...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{5129, 4387478, ...|      500|     1|        00|NORMAL SERVICE|     19684|
+----------------------+---------+------+----------+--------------+----------+
only showing top 20 rows

In [8]:
data = []
for r1 in co_patient_json.select('items').toLocalIterator():
    # r1.에 items가 없을 경우 그냥 넘겨버리기
    if not r1.items:
        continue
    for r2 in r1.items:
        data.append(r2)
patient_data = spark.createDataFrame(data)
patient_data.show(3)
co_patients = patient_data.select(
    patient_data.gubun.alias('LOC')
    ,patient_data.deathCnt.alias('DEATH_CNT')
    ,patient_data.defCnt.alias('DEF_CNT')
    ,patient_data.localOccCnt.alias('LOC_OCC_CNT')
    ,patient_data.qurRate.alias('QUR_RATE')
    ,patient_data.stdDay.alias('STD_DAY')
).where(~(col('LOC').isin(['합계','검역']))).distinct()
co_patients.printSchema()

+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|deathCnt| defCnt|gubun|gubunCn|    gubunEn|incDec|isolClearCnt|isolIngCnt|localOccCnt|overFlowCnt|qurRate|    stdDay|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|    6715|6109867| 경기|   京畿|Gyeonggi-do| 27032|           0|         0|      27007|         25|  45040|2022-08-25|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
only showing top 3 rows

root
 |-- LOC: string (nullable = true)
 |-- DEATH_CNT: string (nullable = true)
 |-- DEF_CNT: string (nullable = true)
 |-- LOC_OCC_CNT: string (nullable = true)
 |-- QUR_RATE: string (nullable = true)
 |-- STD_DAY: string (nullable = true)

In [11]:
co_patients.write.jdbc(url=JDBC['url'], table='CORONA_PATIENTS', mode='append', properties=JDBC['props'])

### 3.  CORONA_VACCINE 테이블 저장

In [10]:
file_name = '/corona_data/vaccine/'
vaccine = spark.read.json(file_name, multiLine=True)

vaccine.printSchema()
vaccine.select(vaccine.data).show()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- loc: string (nullable = true)
 |    |    |-- v1: string (nullable = true)
 |    |    |-- v2: string (nullable = true)
 |    |    |-- v3: string (nullable = true)
 |    |    |-- v4: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- cols: struct (nullable = true)
 |    |    |-- loc: string (nullable = true)
 |    |    |-- v1: string (nullable = true)
 |    |    |-- v2: string (nullable = true)
 |    |    |-- v3: string (nullable = true)
 |    |    |-- v4: string (nullable = true)
 |    |-- desc: string (nullable = true)
 |    |-- std_day: string (nullable = true)

+----------------------+
|                  data|
+----------------------+
|[{서울, 8340437, 82...|
+----------------------+

In [11]:
data = []
    # 파이썬 압축해제 키워드
    # **kwargs => 여러 쌍의 키워드 args 가 넘어오면 받아서 dict로 반환
    # fnc(**dict) => dict에 있는 key-value 값들이 여러쌍의 kwargs 형태로 함수에 전달
for r1 in vaccine.select(vaccine.data, vaccine.meta.std_day).toLocalIterator():
    for r2 in r1.data:
        temp = r2.asDict() # 액션매서드 row객체를 dict로 반환해주는 함수 asDIct()
        temp['std_day'] = r1['meta.std_day'] # meta데이터에있는 날짜값 std_day는 키와 벨류를 지정해서 dict에 포함시켜줌
        data.append(Row(**temp))# Row에 **temp는 dict()을 kwargs로 전달해주는방법

vaccine_data = spark.createDataFrame(data)
vaccine_data.show(3)

+----+-------+-------+-------+-------+----------+
| loc|     v1|     v2|     v3|     v4|   std_day|
+----+-------+-------+-------+-------+----------+
|서울|8340437|8261615|6058568|1231362|2022-09-18|
|부산|2879935|2851047|2134874| 490187|2022-09-18|
|대구|2019298|1996365|1402789| 260381|2022-09-18|
+----+-------+-------+-------+-------+----------+
only showing top 3 rows

In [13]:
# column 을 rowfh : stack
# row를 column으로 : pivot
# 진짜 판다스객체로 만들면 spark와 하둡의 데이터 병렬처리의 이점을 얻을 수 없다.
pd_vaccine = vaccine_data.to_pandas_on_spark()
pd_vaccine = pd_vaccine.set_index(['loc','std_day'])
# 복합키를 인덱스로  하고 나머지를 stack하면 row형태로 변환됨
pd_vaccine = pd_vaccine.stack()
# # 보기편하게 만들어보기
pd_vaccine = pd_vaccine.to_dataframe('V_CNT')
# 위의  값은 타입이 pandas의series임 다시 spark형태로 변환필요
pd_vaccine

WARNING:root:'PYARROW_IGNORE_TIMEZONE' environment variable was not set. It is required to set this environment variable to '1' in both driver and executor sides if you use pyarrow>=2.0.0. pandas-on-Spark will set it for you but it does not work if there is a Spark context already launched.

                      V_CNT
loc std_day
서울  2022-09-18 v2   8261615
               v4   1231362
               v1   8340437
               v3   6058568
부산  2022-09-18 v2   2851047
               v4    490187
               v1   2879935
               v3   2134874
대구  2022-09-18 v2   1996365
               v4    260381
               v1   2019298
               v3   1402789
인천  2022-09-18 v2   2546449
               v4    396104
               v1   2570971
               v3   1908028
광주  2022-09-18 v2   1251041
               v4    234405
               v1   1262686
               v3    968138
대전  2022-09-18 v2   1233926
               v4    193829
               v1   1246195
               v3    907679
울산  2022-09-18 v2    959274
               v4    125398
               v1    968616
               v3    719551
세종  2022-09-18 v2    294854
               v4     34695
               v1    298612
               v3    209194
경기  2022-09-18 v2  11712435
               v4   1688068
               v1  11828148
               v3   8678460
강원  2022-09-18 v2   1338994
               v4    270055
               v1   1350365
               v3   1062198
충북  2022-09-18 v2   1417015
               v4    278087
               v1   1429660
               v3   1106015
충남  2022-09-18 v2   1881852
               v4    366884
               v1   1899521
               v3   1475649
전북  2022-09-18 v2   1580606
               v4    371028
               v1   1593762
               v3   1284213
전남  2022-09-18 v2   1640127
               v4    445122
               v1   1654761
               v3   1363331
경북  2022-09-18 v2   2269467
               v4    395869
               v1   2293393
               v3   1724688
경남  2022-09-18 v2   2854198
               v4    485197
               v1   2883579
               v3   2142332
제주  2022-09-18 v2    584841
               v4     92385
               v1    590587
               v3    437858

In [14]:
# 멀티인덱스 확인후 각자 로 뜯어주기
# print(pd_vaccine.index)
# 복합키 뜯어주기 resset_index() 판다스 데이터프레임에 사용
pd_vaccine = pd_vaccine.reset_index().rename(columns={"level_2":"V_TH"})
# print(pd_vaccine.index)

In [15]:
vaccine_data = pd_vaccine.to_spark()
vaccine_data = vaccine_data.drop('level_0','index')
vaccine_data.show(3)
vaccine_data = vaccine_data.select(vaccine_data.loc.alias('LOC'),vaccine_data.std_day.alias('STD_DAY'),
                   vaccine_data.V_TH, vaccine_data.V_CNT)
type(vaccine_data)

+----+----------+----+-------+
| loc|   std_day|V_TH|  V_CNT|
+----+----------+----+-------+
|서울|2022-09-18|  v2|8261615|
|서울|2022-09-18|  v4|1231362|
|서울|2022-09-18|  v1|8340437|
+----+----------+----+-------+
only showing top 3 rows

pyspark.sql.dataframe.DataFrame

In [16]:
vaccine_data.write.jdbc(url=JDBC['url'], table='CORONA_VACCINE', mode='append', properties=JDBC['props'])
## 안되는이유 숫자에 쉼표가 들어가 있어서

In [32]:
file_name = '/corona_data/loc/전국다중이용시설.csv'
fac = spark.read.csv(file_name, encoding='CP949')
fac.show(3)

+----+----+------+----------------+--------------+------+
| _c0| _c1|   _c2|             _c3|           _c4|   _c5|
+----+----+------+----------------+--------------+------+
|연도|광역|시군구|          시설명|사업자등록번호|시설군|
|2020|강원|강릉시|(주)경포솔향온천|  127-86-57613|목욕장|
|2020|강원|강릉시|  24시황실사우나|  226-33-03247|목욕장|
+----+----+------+----------------+--------------+------+
only showing top 3 rows

In [36]:
# fac=fac.select(fac._c1.alias('LOC'),fac._c3.alias('fac_name'))
# fac.show(3)

fac_data = fac.groupBy(fac.LOC).agg(count(fac.LOC).alias('FAC_CNT')).select('*').where(col('LOC')!= '광역')

fac_data.show()

+----+-------+
| LOC|FAC_CNT|
+----+-------+
|경북|    944|
|대전|    767|
|전북|    759|
|충북|    617|
|울산|    431|
|경남|   1357|
|제주|    310|
|충남|    824|
|전남|    825|
|인천|   1386|
|부산|   1462|
|대구|   1015|
|경기|   6303|
|서울|   5224|
|광주|    732|
|세종|    243|
|강원|    584|
+----+-------+

### 4. LOC_FACILITY_CNT	테이블 저장

In [37]:
fac_data.write.jdbc(url=JDBC['url'], table='LOC_FACILITY_CNT', mode='append', properties=JDBC['props'])