In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# matplotlib 한글 꺠짐 방지
# apt-get update
# apt-get install fonts-nanum* 
# apt-get install fontconfig
# fc-cache -fv  # font 캐시 날리기
# rm -rf /home/hy1/.cache/matplotlib/  #matplotliob 폰트 캐시 날리기

In [3]:
from datetime import date, datetime
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql import *
import datetime as dt
import pandas as pd
import matplotlib.pyplot as plt #그래프 패키지 모듈 등록
%matplotlib inline

<jemalloc>: MADV_DONTNEED does not work (memset will be used instead)
<jemalloc>: (This is the expected behaviour if you are running under QEMU)

In [4]:
def cal_std_day(befor_day):   
    x = dt.datetime.now() - dt.timedelta(befor_day)
    year = x.year
    month = x.month if x.month >= 10 else '0'+ str(x.month)
    day = x.day if x.day >= 10 else '0'+ str(x.day)  
    return str(year)+ '-' +str(month)+ '-' +str(day)

In [5]:
import platform

from matplotlib import font_manager, rc
plt.rcParams['axes.unicode_minus'] = False

if platform.system() == 'Darwin':  # 맥OS 
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':  # 윈도우
    path = "c:/Windows/Fonts/malgun.ttf"
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else:
    rc('font', family='NanumGothic')

## Load - DataWareHouse

## JDBC DICT

In [6]:
JDBC = {
    'url':'jdbc:oracle:thin:@decorona_high?TNS_ADMIN=/home/big/study/db/Wallet_DECORONA'
    ,'props':{
        'user':'dw_de'
       ,'password':'123qwe!@#QWE'
    }   
}

### 1. LOC 테이블 저장

In [ ]:
area = spark.read.csv('/corona_data/loc/sido_area.csv', encoding='CP949', header=True)
popu = spark.read.csv('/corona_data/loc/sido_population.csv', encoding='CP949', header=True)

In [13]:

# loc 데이터 저장
area_pop = area.join(popu, on='loc')
area_pop = area_pop.select(col('loc').alias('LOC')
                                   , col('area').alias('AREA')
                                   ,col('total').alias('POPULATION')
                          )
# area_pop.show()
area_pop.write.jdbc(url=JDBC['url'], table='LOC', mode='append', properties=JDBC['props'])

Py4JJavaError: An error occurred while calling o104.jdbc.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:298)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:107)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:107)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:218)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcOptionsInWrite.<init>(JDBCOptions.scala:222)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:46)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:115)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)

### 2. CORONA_PATIENT 테이블 저장

In [7]:
# 코로나 감염자 데이터
path = '/corona_data/patient'
co_patient_json = spark.read.json(path,encoding='UTF-8')
co_patient_json.show()

+----------------------+---------+------+----------+--------------+----------+
|                 items|numOfRows|pageNo|resultCode|     resultMsg|totalCount|
+----------------------+---------+------+----------+--------------+----------+
|[{16, 12659, 검역, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1465, 1461477, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{16, 12440, 검역, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1043, 868166, 충...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1429, 1214957, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{528, 687990, 전남...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{26161, 22449475...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{25441, 20983169...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1376, 847452, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{520, 666170, 전남...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{5077, 4264423, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1375, 842746, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{2268, 1266446, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1475, 996824, 대...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{2249, 1204102, ...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{781, 679100, 충북...|      500|     1|        00|NORMAL SERVICE|     19684|
|[{883, 571175, 강원...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{1427, 1196686, ...|      500|     1|        00|NORMAL SERVICE|     19684|
| [{1492, 940948, 경...|      500|     1|        00|NORMAL SERVICE|     19684|
|  [{5129, 4387478, ...|      500|     1|        00|NORMAL SERVICE|     19684|
+----------------------+---------+------+----------+--------------+----------+
only showing top 20 rows

In [10]:
data = []
for r1 in co_patient_json.select('items').toLocalIterator():
    # r1.에 items가 없을 경우 그냥 넘겨버리기
    if not r1.items:
        continue
    for r2 in r1.items:
        data.append(r2)
patient_data = spark.createDataFrame(data)
patient_data.show(3)
co_patients = patient_data.select(
    patient_data.gubun.alias('LOC')
    ,patient_data.deathCnt.alias('DEATH_CNT')
    ,patient_data.defCnt.alias('DEF_CNT')
    ,patient_data.localOccCnt.alias('LOC_OCC_CNT')
    ,patient_data.qurRate.alias('QUR_RATE')
    ,patient_data.stdDay.alias('STD_DAY')
).where(~(col('LOC').isin(['합계','검역']))).distinct()
co_patients.printSchema()

+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|deathCnt| defCnt|gubun|gubunCn|    gubunEn|incDec|isolClearCnt|isolIngCnt|localOccCnt|overFlowCnt|qurRate|    stdDay|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|      16|  12659| 검역| 隔離區|  Lazaretto|    17|           0|         0|          0|         17|      -|2022-08-25|
|    6715|6109867| 경기|   京畿|Gyeonggi-do| 27032|           0|         0|      27007|         25|  45040|2022-08-25|
+--------+-------+-----+-------+-----------+------+------------+----------+-----------+-----------+-------+----------+
only showing top 3 rows

root
 |-- LOC: string (nullable = true)
 |-- DEATH_CNT: string (nullable = true)
 |-- DEF_CNT: string (nullable = true)
 |-- LOC_OCC_CNT: string (nullable = true)
 |-- QUR_RATE: string (nullable = true)
 |-- STD_DAY: string (nullable = true)

In [11]:
co_patients.write.jdbc(url=JDBC['url'], table='CORONA_PATIENTS', mode='append', properties=JDBC['props'])

### 3.  CORONA_VACCINE 테이블 저장

In [13]:
file_name = '/corona_data/vaccine/'
vaccine = spark.read.json(file_name, multiLine=True)

vaccine.printSchema()
vaccine.select(vaccine.data).show()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- loc: string (nullable = true)
 |    |    |-- v1: string (nullable = true)
 |    |    |-- v2: string (nullable = true)
 |    |    |-- v3: string (nullable = true)
 |    |    |-- v4: string (nullable = true)
 |-- meta: struct (nullable = true)
 |    |-- cols: struct (nullable = true)
 |    |    |-- loc: string (nullable = true)
 |    |    |-- v1: string (nullable = true)
 |    |    |-- v2: string (nullable = true)
 |    |    |-- v3: string (nullable = true)
 |    |    |-- v4: string (nullable = true)
 |    |-- desc: string (nullable = true)
 |    |-- std_day: string (nullable = true)

+----------------------+
|                  data|
+----------------------+
|[{서울, 8,340,483, ...|
+----------------------+

In [45]:
data = []
    # 파이썬 압축해제 키워드
    # **kwargs => 여러 쌍의 키워드 args 가 넘어오면 받아서 dict로 반환
    # fnc(**dict) => dict에 있는 key-value 값들이 여러쌍의 kwargs 형태로 함수에 전달
for r1 in vaccine.select(vaccine.data, vaccine.meta.std_day).toLocalIterator():
    for r2 in r1.data:
        temp = r2.asDict() # 액션매서드 row객체를 dict로 반환해주는 함수 asDIct()
        temp['std_day'] = r1['meta.std_day'] # meta데이터에있는 날짜값 std_day는 키와 벨류를 지정해서 dict에 포함시켜줌
        data.append(Row(**temp))# Row에 **temp는 dict()을 kwargs로 전달해주는방법

vaccine_data = spark.createDataFrame(data)
vaccine_data.show(3)

+----+---------+---------+---------+---------+----------+
| loc|       v1|       v2|       v3|       v4|   std_day|
+----+---------+---------+---------+---------+----------+
|서울|8,340,483|8,261,426|6,057,235|1,224,104|2022-09-14|
|부산|2,879,873|2,850,933|2,134,510|  488,021|2022-09-14|
|대구|2,019,298|1,996,340|1,402,588|  259,143|2022-09-14|
+----+---------+---------+---------+---------+----------+
only showing top 3 rows

In [36]:
# column 을 rowfh : stack
# row를 column으로 : pivot
# 진짜 판다스객체로 만들면 spark와 하둡의 데이터 병렬처리의 이점을 얻을 수 없다.
pd_vaccine = vaccine_data.to_pandas_on_spark()
pd_vaccine = pd_vaccine.set_index(['loc','std_day'])
# 복합키를 인덱스로  하고 나머지를 stack하면 row형태로 변환됨
pd_vaccine = pd_vaccine.stack()
# # 보기편하게 만들어보기
pd_vaccine = pd_vaccine.to_dataframe('V_CNT')
# 위의  값은 타입이 pandas의series임 다시 spark형태로 변환필요
pd_vaccine

                        V_CNT
loc std_day
서울  2022-09-14 v2   8,261,426
               v4   1,224,104
               v1   8,340,483
               v3   6,057,235
부산  2022-09-14 v2   2,850,933
               v4     488,021
               v1   2,879,873
               v3   2,134,510
대구  2022-09-14 v2   1,996,340
               v4     259,143
               v1   2,019,298
               v3   1,402,588
인천  2022-09-14 v2   2,546,047
               v4     393,704
               v1   2,570,612
               v3   1,907,447
광주  2022-09-14 v2   1,251,020
               v4     233,179
               v1   1,262,691
               v3     968,031
대전  2022-09-14 v2   1,233,937
               v4     192,896
               v1   1,246,229
               v3     907,539
울산  2022-09-14 v2     959,230
               v4     124,077
               v1     968,596
               v3     719,468
세종  2022-09-14 v2     294,828
               v4      34,536
               v1     298,598
               v3     209,144
경기  2022-09-14 v2  11,711,691
               v4   1,677,395
               v1  11,827,683
               v3   8,676,645
강원  2022-09-14 v2   1,338,892
               v4     268,701
               v1   1,350,278
               v3   1,061,985
충북  2022-09-14 v2   1,416,869
               v4     276,875
               v1   1,429,541
               v3   1,105,794
충남  2022-09-14 v2   1,881,763
               v4     364,976
               v1   1,899,464
               v3   1,475,425
전북  2022-09-14 v2   1,580,503
               v4     369,772
               v1   1,593,725
               v3   1,284,072
전남  2022-09-14 v2   1,640,035
               v4     443,605
               v1   1,654,730
               v3   1,363,151
경북  2022-09-14 v2   2,269,348
               v4     394,082
               v1   2,293,313
               v3   1,724,411
경남  2022-09-14 v2   2,854,105
               v4     482,797
               v1   2,883,530
               v3   2,142,029
제주  2022-09-14 v2     584,795
               v4      91,773
               v1     590,570
               v3     437,768

In [52]:
# 멀티인덱스 확인후 각자 로 뜯어주기
# print(pd_vaccine.index)
# 복합키 뜯어주기 resset_index() 판다스 데이터프레임에 사용
pd_vaccine = pd_vaccine.reset_index().rename(columns={"level_2":"V_TH"})
# print(pd_vaccine.index)

+-------+-----+----+----------+----+---------+
|level_0|index| loc|   std_day|V_TH|    V_CNT|
+-------+-----+----+----------+----+---------+
|      0|    0|서울|2022-09-14|  v2|8,261,426|
|      1|    1|서울|2022-09-14|  v4|1,224,104|
|      2|    2|서울|2022-09-14|  v1|8,340,483|
+-------+-----+----+----------+----+---------+
only showing top 3 rows

+----+----------+----+---------+
| loc|   std_day|V_TH|    V_CNT|
+----+----------+----+---------+
|서울|2022-09-14|  v2|8,261,426|
|서울|2022-09-14|  v4|1,224,104|
|서울|2022-09-14|  v1|8,340,483|
+----+----------+----+---------+
only showing top 3 rows

In [67]:
vaccine_data = pd_vaccine.to_spark()
vaccine_data = vaccine_data.drop('level_0','index')
vaccine_data.show(3)
vaccine_data = vaccine_data.select(vaccine_data.loc.alias('LOC'),vaccine_data.std_day.alias('STD_DAY'),
                   vaccine_data.V_TH, vaccine_data.V_CNT)
type(vaccine_data)

+----+----------+----+---------+
| loc|   std_day|V_TH|    V_CNT|
+----+----------+----+---------+
|서울|2022-09-14|  v2|8,261,426|
|서울|2022-09-14|  v4|1,224,104|
|서울|2022-09-14|  v1|8,340,483|
+----+----------+----+---------+
only showing top 3 rows

pyspark.sql.dataframe.DataFrame

In [66]:
vaccine_data.write.jdbc(url=JDBC['url'], table='CORONA_VACCINE', mode='append', properties=JDBC['props'])
## 안되는이유 숫자에 쉼표가 들어가 있어서

22/09/19 10:37:24 ERROR TaskSetManager: Task 0 in stage 87.0 failed 4 times; aborting job

Py4JJavaError: An error occurred while calling o2474.jdbc.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 87.0 failed 4 times, most recent failure: Lost task 0.3 in stage 87.0 (TID 150) (localhost executor 1): java.sql.BatchUpdateException: ORA-01722: invalid number

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	at java.base/java.lang.Thread.run(Thread.java:829)
	Suppressed: java.sql.SQLSyntaxErrorException: ORA-01722: invalid number

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 1722, Position : 81, Sql = INSERT INTO CORONA_VACCINE ("LOC","STD_DAY","V_TH","V_CNT") VALUES (:1 ,:2 ,:3 ,:4 ), OriginalSql = INSERT INTO CORONA_VACCINE ("LOC","STD_DAY","V_TH","V_CNT") VALUES (?,?,?,?), Error Msg = ORA-01722: invalid number

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2454)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2403)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2402)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2402)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1160)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1160)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2642)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2584)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2573)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:938)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2214)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2235)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2254)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2279)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$1(RDD.scala:1020)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:112)
	at org.apache.spark.rdd.RDD.withScope(RDD.scala:414)
	at org.apache.spark.rdd.RDD.foreachPartition(RDD.scala:1018)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.saveTable(JdbcUtils.scala:893)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:69)
	at org.apache.spark.sql.execution.datasources.SaveIntoDataSourceCommand.run(SaveIntoDataSourceCommand.scala:45)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult$lzycompute(commands.scala:75)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.sideEffectResult(commands.scala:73)
	at org.apache.spark.sql.execution.command.ExecutedCommandExec.executeCollect(commands.scala:84)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:103)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:163)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:90)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:775)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:97)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:93)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:82)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:481)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:30)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:457)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:93)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:80)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:78)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:115)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:848)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:382)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:355)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:247)
	at org.apache.spark.sql.DataFrameWriter.jdbc(DataFrameWriter.scala:745)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.sql.BatchUpdateException: ORA-01722: invalid number

	at oracle.jdbc.driver.OraclePreparedStatement.generateBatchUpdateException(OraclePreparedStatement.java:10323)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10090)
	at oracle.jdbc.driver.OraclePreparedStatement.executeLargeBatch(OraclePreparedStatement.java:9975)
	at oracle.jdbc.driver.OraclePreparedStatement.executeBatch(OraclePreparedStatement.java:9932)
	at oracle.jdbc.driver.OracleStatementWrapper.executeBatch(OracleStatementWrapper.java:262)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.savePartition(JdbcUtils.scala:733)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1(JdbcUtils.scala:895)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcUtils$.$anonfun$saveTable$1$adapted(JdbcUtils.scala:893)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2(RDD.scala:1020)
	at org.apache.spark.rdd.RDD.$anonfun$foreachPartition$2$adapted(RDD.scala:1020)
	at org.apache.spark.SparkContext.$anonfun$runJob$5(SparkContext.scala:2254)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:90)
	at org.apache.spark.scheduler.Task.run(Task.scala:131)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:506)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1491)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:509)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1128)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:628)
	... 1 more
	Suppressed: java.sql.SQLSyntaxErrorException: ORA-01722: invalid number

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:628)
		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:562)
		at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:1145)
		at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:726)
		at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:291)
		at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:492)
		at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:148)
		at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1038)
		at oracle.jdbc.driver.OraclePreparedStatement.executeForRowsWithTimeout(OraclePreparedStatement.java:9892)
		at oracle.jdbc.driver.OraclePreparedStatement.executeBatchWithoutQueue(OraclePreparedStatement.java:10069)
		... 17 more
	Caused by: Error : 1722, Position : 81, Sql = INSERT INTO CORONA_VACCINE ("LOC","STD_DAY","V_TH","V_CNT") VALUES (:1 ,:2 ,:3 ,:4 ), OriginalSql = INSERT INTO CORONA_VACCINE ("LOC","STD_DAY","V_TH","V_CNT") VALUES (?,?,?,?), Error Msg = ORA-01722: invalid number

		at oracle.jdbc.driver.T4CTTIoer11.processError(T4CTTIoer11.java:632)
		... 26 more

### 4. LOC_FACILITY_CNT	테이블 저장