# Transformation - Action

# RDD Transformation

-  데이터를 가공하기 위한 논리적 실행계획
-  기존의 RDD에 연산이 반영된 새로운 RDD를 반환한다.

# Transformation 메서드

1. filter()
2. map()
3. flatMap()
4. distinct()
5. zip()
6. join()
6. reduceByKey()
7. mapValues()
8. sortBy()

## Transformation - filter()

In [2]:
score_rdd = sc.textFile('/rdd/score.txt')
# filter()
#필터한 엘리먼트를 다시 필터 가능
score_rdd.filter(lambda e : '스파크' in e).filter(lambda e :'홍길' in e)
# type(score_rdd.filter(lambda e : '스파크' in e))
# 조건에 맞는 데이터만

PythonRDD[2] at RDD at PythonRDD.scala:53

## Transformation - map()

In [6]:
# map()

# 각각의 요소에 적용

[2, 6, 10, 14, 18]

In [3]:
# 원본 rdd 는 불변  덮어씌우지 않는 이상
# score_rdd.collect()
data = [1, 3, 5, 7, 9]
map_rdd = sc.parallelize(data)
map_rdd.map(lambda e: e * 2).collect()

[2, 6, 10, 14, 18]

## Transformation - flatMap()

12

[1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100]

In [11]:
#flatMap()
# 각각의 요소에 함수를 적용한 다음 평면화 시켜주는 함수
nlist = [[1, 2, 3], 
         [4, 5, 6], 
         [7, 8, 9]]
flat_rdd = sc.parallelize(nlist)
def append_data(e):
    e.append(100)
    return e
res = flat_rdd.flatMap(lambda e :append_data(e)).collect()
len(res)
# flatMap은 배열의 차원 축소기능해줌
# [[1,2,3,100],[4,5,6,100],[7,8,9,100]]
res

[1, 2, 3, 100, 4, 5, 6, 100, 7, 8, 9, 100]

In [ ]:
# tmp = [[1,2,3],4,5]
# 더 이상 축소할 게 없는 리스트(배열은) flatMap 불가능
# sc.parallelize(tmp).flatMap(lambda e: e).collect()

In [ ]:
res = score_rdd.flatMap(lambda e:e+'점').collect()
res

[Stage 9:=============================================>                 (16 + 2) / 22]

93

# 연습문제 : filter, map, flatMap 

nlist안의 요소들중 홀수인 요소만 추출하여 100을 곱하여 list로 반환하시오  

 - nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]

 - 결과 : [100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

In [49]:
nlist = [[[1, 2], [3, 4, 5]],[[6, 7], [8, 9, 10, 11]],[[12,13,14,15], [16, 17]]]
flat_rdd2 = sc.parallelize(nlist)
# 필터의 람다함수는 boolean(True or False )에서 True를 받아 반환한다.
flat_rdd2 .flatMap(lambda e :e).\
flatMap(lambda e :e).\
filter(lambda e : e%2==1).\
map(lambda e : e*100).\
collect()

[100, 300, 500, 700, 900, 1100, 1300, 1500, 1700]

## Transformation - distinct()

In [52]:
nlist = [1, 2, 3, 1, 2, 3, 1, 2, 3 , 4, 5]
distinct_rdd  = sc.parallelize(nlist)
distinct_rdd.distinct().collect()
slist = ['안녕','반가워','hello','hello']
distinct_rdd2 = sc.parallelize(slist)
distinct_rdd2.distinct().collect()

['안녕', '반가워', 'hello']

## Transformation - zip()

In [57]:
# zip() : 두 rdd를 결합해 key-value 형태의 rdd(Pair RDD)로 생성
foods = ['파스타','스테이크', '불고기', '비빔밥', '김치']
category = ['양식', '양식', '한식', '한식', '한식']

foods_rdd = sc.parallelize(foods)
category_rdd = sc.parallelize(category)
zip_rdd = category_rdd.zip(foods_rdd)
zip_rdd
zip_rdd.collect()

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

In [65]:
# tuple의 리스트로 RDD를 생성하면 Pair RDD 가된다.
tmp = list(map(lambda a, b : (a,b), category, foods))
tmp_rdd = sc.parallelize(tmp)
tmp_rdd.collect()

tmp = list(zip(category, foods))
tmp_rdd = sc.parallelize(tmp)
print('zip 결과')
tmp_rdd.collect()

zip 결과

[('양식', '파스타'), ('양식', '스테이크'), ('한식', '불고기'), ('한식', '비빔밥'), ('한식', '김치')]

## Transformation - reduceByKey(), mapValues()

In [69]:
# reduceByKey 키값을 기준으로 value값들을 연산
# mapValuse Pair RDD의 value들에 대해 map연산 수행
zip_rdd.reduceByKey(lambda a, b : a + ',' + b).collect()
res = zip_rdd.reduceByKey(lambda a, b : a + ',' + b).mapValues(lambda e : e.split(',')).collect()

[('양식', ['파스타', '스테이크']), ('한식', ['불고기', '비빔밥', '김치'])]

## Transformation - sortBy()

In [74]:
# 키값으로 내림차순
res.sortBy(lambda e : e[0],ascending=False).collect()
# value 값으로 오름차순
res.sortBy(lambda e : e[1]).collect()
# 메뉴가지수로 오름차순
res.sortBy(lambda e : len(e[1])).collect()
res.sortBy(lambda e : len(e[1][1])).collect()

[('한식', ['불고기', '비빔밥', '김치']), ('양식', ['파스타', '스테이크'])]

[('양식', ['파스타', ' 스테이크']), ('한식', ['불고기', ' 비빔밥', ' 김치'])]

[('양식', ['파스타', ' 스테이크']), ('한식', ['불고기', ' 비빔밥', ' 김치'])]

[('한식', ['불고기', ' 비빔밥', ' 김치']), ('양식', ['파스타', ' 스테이크'])]

# 연습문제 : distinct, zip, reduceByKey, sortBy 
 - hdfs의 /score.txt 파일을 읽어와 RDD로 생성하시오
 - 각 과목별 명단을 추출하시오
 - 각 과목별 평균점수를 추출하시오
 - 이때 중복으로 들어간 홍진호의 데이터는 한번만 적용되도록 합니다.  
 
 
 
 - 결과 :  
 [('스파크', {'명단': ['하명도', '홍길동', '임꺽정']}), ('텐서플로우', {'명단': ['임요환', '홍진호', '이윤열']})]       
  
 [('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

In [206]:
#txt파일 불러오기
score_rdd = sc.textFile('/rdd/score.txt')

# 중복제거
score_rdd1=score_rdd.distinct()

# 스파크, 텐서플로우 분리
spark_rdd = score_rdd1.filter(lambda e : '스파크' in e).map(lambda e : e.split(' ')).flatMap(lambda e : e)
tensor_rdd = score_rdd1.filter(lambda e : '텐서플로우' in e).map(lambda e : e.split(' ')).flatMap(lambda e : e)

# 숫자 분리 및 숫자는 정수형으로 변환
spark_rdd_num = spark_rdd.filter(lambda e: e.isdigit()).map(lambda e : int(e))
spark_rdd_str = spark_rdd.filter(lambda es : not es.isdigit())
tensor_rdd_num = tensor_rdd.filter(lambda e: e.isdigit()).map(lambda e : int(e))
tensor_rdd_str = tensor_rdd.filter(lambda es : not es.isdigit())

# 스파크 및 텐서플로우를 키로 벨류값들 모아주기
zip_spark = spark_rdd_str.filter(lambda e : '스파크' in e).zip(spark_rdd_str.filter(lambda e : '스파크' not in e))
zip_spark_num = spark_rdd_str.filter(lambda e : '스파크' in e).zip(spark_rdd_num)
zip_tensor = tensor_rdd_str.filter(lambda e : '텐서' in e).zip(tensor_rdd_str.filter(lambda e : '텐서' not in e))
zip_tensor_num = tensor_rdd_str.filter(lambda e : '텐서' in e).zip(tensor_rdd_num)

# 벨류값 한개의 리스트로 합치고 dict형태로 변환
zip_spark_fin = zip_spark.reduceByKey(lambda a, b : a + ',' + b).mapValues(lambda e : {'명단':e.split(',')})
zip_spark_num_fin = zip_spark_num.reduceByKey(lambda a, b : a + b).mapValues(lambda e : {'평균점수':e/3})
zip_tensor_fin = zip_tensor.reduceByKey(lambda a, b : a + ',' + b).mapValues(lambda e : {'명단':e.split(',')})
zip_tensor_num_fin  = zip_tensor_num.reduceByKey(lambda a, b : a + b).mapValues(lambda e : {'평균점수':e/3})

score_member_fin = sc.parallelize([zip_spark_fin.collect(),zip_tensor_fin.collect()]).flatMap(lambda e:e)
score_num_fin= sc.parallelize([zip_spark_num_fin.collect(),zip_tensor_num_fin.collect()]).flatMap(lambda e:e)

In [208]:
print(score_member_fin.collect())
print(score_num_fin.collect())

[('스파크', {'명단': ['임꺽정', '하명도', '홍길동']}), ('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열']})]
[('스파크', {'평균점수': 63.333333333333336}), ('텐서플로우', {'평균점수': 70.66666666666667})]

## Transformation - join()

[('스파크', ({'명단': ['하명도', '홍길동', '임꺽정']}, {'평균점수': 63.333333333333336})),
 ('텐서플로우', ({'명단': ['홍진호', '임요환', '이윤열']}, {'평균점수': 70.66666666666667}))]

[('스파크', {'명단': ['하명도', '홍길동', '임꺽정'], '평균점수': 63.333333333333336}),
 ('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열'], '평균점수': 70.66666666666667})]

# Spark Shuffle

- 스파크에서 연산은 단일 파티션에서 작동   


- reduceByKey와 같이 특정 키에 매핑된 모든 값에 대한 연산을 수행하기 위해서는   
  파티션에 흩어진 특정키에 해당하는 값을 하나의 파티션으로 모아 줄 필요가 있음  


- 모든 키에 대한 모든 값을 찾기 위해 모든 파티션을 탐색하고, 해당하는 값들을 하나의 파티션으로 옮겨오는 과정을 셔플이라고 부른다.  


- 디스크 IO 또는 네트워크 IO가 발생함으로 비용이 매우 비싼 작업  



ex)   
filter : 각 파티션에 있는 하나의 튜플에 대해 조건을 탐색하면 됨으로 셔플 발생 x  
reduceByKey : 연산을 시작하기 위해서는 우선적으로 모든 파티션에 분산되어 있는 특정 키 값을 수집해야함으로 셔플 발생 
- 셔플이 발생하는 함수들 :
 - subtractByKey
 - groupBy
 - foldByKey
 - reduceByKey
 - aggregateByKey
 - transformations of a join of any type
 - distinct
 - cogroup

![shuffle](./img/shuffle.png)

# RDD Action

- transformation 연산을 통해 생성한 논리적 실행계획을 최적화 하여 연산을 수행. 빠른 연산이 가능

## Action Method

1. collect()
2. take()
3. takeOrdered()
4. top()
5. countByValue()
6. foreach()
7. reduce()
8. saveAsTextFile()
9. max()
10. min()
11. mean()
12. variance()
13. stdev()
14. stats()

## Action - collect()

['하명도 스파크 50',
 '홍길동 스파크 80',
 '임꺽정 스파크 60',
 '임요환 텐서플로우 100',
 '홍진호 텐서플로우 22',
 '홍진호 텐서플로우 22',
 '이윤열 텐서플로우 90']

## Action - take()

[1, 2, 3]

## Action - takeOrdered()

[0.2, 0.4]

## Action - top()

[5, 3]

## Action - countByValues()

defaultdict(int, {'a': 2, 'b': 3, 'c': 2, 'd': 1})

## Action - reduce()

55

## Action - foreach()

## Action - saveAsTextFile()

In [9]:
test = sc.textFile("/rdd/rdd_prac.txt")
test.collect()

["('스파크', {'명단': ['하명도', '홍길동', '임꺽정'], '평균점수': 63.333333333333336})",
 "('텐서플로우', {'명단': ['홍진호', '임요환', '이윤열'], '평균점수': 70.66666666666667})"]

## Action - max, min, mean, variance, stdev, stats

7

1

3.9999999999999996

4.000000000000001

2.0

(count: 7, mean: 3.9999999999999996, stdev: 2.0, max: 7, min: 1)